<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ISTN3AS.Properties.Settings.DBConnection" connectionString="Data Source=146.230.177.46\IST3;Initial Catalog=group6;Persist Security Info=True;User ID=group6;Password=h2d9j"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>